@media(max-width:480px){
    body{
        background-color: powderblue;
    }
}

@media(min-width:480px){
    body{
        background-color: limegreen;
    }
}

@media(min-width:1200px){
    body{
        background-color: rgb(3, 14, 8);
    }
}

@media(min-width:1601px){
    body{
        background-color: lightcoral;
    }
}